<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<!-- css -->
<link rel="stylesheet" href="style.css">
<!-- Box Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

</head>
<body class="global-styles">
	<!-- Header -->
	<header>
		<a href="#" class="logo"><img src="image/logo.png" alt=""></a>
		
		<div class="bx bx-menu" id="menu-icon"></div>
		
		<ul class="navbar">
			<li><a href="index.html">Home</a></li>
			<li><a href="activities.html">Activities</a></li>
		</ul>
		<div class="icon-color">
			<a href="#" style="font-size: 2em"><i class='bx bx-user-circle' ></i></a>
			<a href="#" style="font-size: 2em"><i class='bx bxs-cart'></i></a>
		</div>
	</header>

	<section class="home" id="home">
		<div class="text">
			<h1>Welcome To Eagle Hunt Waterport</h1>
			<h2>PENGKALAN BALAK ISLAND</h2><br>
			<div class="profile-btn">
			<a href="register.html" class="sign-up">Sign Up</a>
			<a href="login.html" class="sign-up">Log In</a>
		</div>
			
		</div>
		</form>
	</section>
	
	<br>
	<footer class="footer">
        <div class="row">
            <ul>
                <li><a onclick="location.href='ListFaqController'">FAQ</a></li>

                <li><a onclick="location.href='ListFeedbackController?'">Feedback</a></li>
            </ul>
        </div>
    </footer>
    
	

</body>
</html>